* {
    box-sizing: border-box;
}

:root {
    --BG-labels: #aaaaaa;
    --BG-main: #f7f7f7;
    --BG-items: #6d9769;
    --BG-mark: #ff7171;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}