@import './cmp/notes-list.css';
@import './cmp/note-preview.css';
@import './cmp/note-img.css';
@import './cmp/note-todo.css';
@import './cmp/note-vidoe.css';

.keep.app-container{
    --editor-bar-height: 80px;
    --side-bar-width: 150px;

    display: grid;
    grid-template: var(--editor-bar-height) 1fr / 1fr var(--side-bar-width);
    width: 100%;
    height: 100%;
}

.keep .bar-container{
background-color: var(--BG-labels);
grid-column: 1/-1;

}

.keep .main-app-container{
    background-color: var(--BG-main);
    grid-row: 2/3;
    grid-column: 1/2;
    
}

.keep .side-bar-container{
    background-color: var(--BG-items);
    grid-row: 2/3;
    grid-column: 2/3;

}

